.ticket {
  margin    : 0 auto;
  max-width : 960px;
}

.ticket .field {
  margin-bottom : 10px;
}

.ticket .field--name-description {
  margin-bottom : 20px;
}

.ticket .field--type-comment {
  margin-top  : 20px;
  padding-top : 10px;
  border-top  : 1px solid;
}

.ticket .comment {
  margin-bottom : 10px;
  padding       : 0 10px 10px 10px;
  border-bottom : 1px solid;
}

.ticket .comment h3 {
  font-size   : 16px;
  font-weight : bold;
}

.ticket .comment-form__title {
  margin-top : 30px;
  font-size  : 18px;
}
