{#
/**
 * @file ticket.html.twig
 * Default theme implementation to present Ticket data.
 *
 * This template is used when viewing Ticket pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ticket()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('codev_ticket_system/ticket') }}
<div{{ attributes.addClass('ticket') }}>
  {% if content %}
    <h2>{{- content.name -}}</h2>
    {{- content|without('name') -}}
  {% endif %}
</div>
