{#
/**
 * @file ticket.html.twig
 * Default theme implementation to present Ticket data.
 *
 * This template is used when viewing Ticket pages.
 *
 *
 * Available variables:
 * - site_url: The site absolute url.
 * - ticket_url: The ticket absolute url.
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ticket_notification()
 *
 * @ingroup themeable
 */
#}
<style>
  table.ticket tr td {
    max-width : 860px;
  }

  table.ticket tr td {
    padding-bottom : 10px;
  }

  table.ticket tr.comment td {
    border-top : 1px solid gray;
  }
</style>
<table{{ attributes.addClass('ticket') }}>
  {% if content %}
    {% if content.name %}
      <tr>
        <td colspan="2">
          <h1><a href="{{ ticket_url }}">{{- content.name -}}</a></h1>
        </td>
      </tr>
    {% endif %}
    {% if content.user_id %}
      {% set user_id = content.user_id %}
      {% set user = user_id.0['#account'] %}
      <tr>
        <td>{{- user_id|field_label -}}</td>
        <td>
          <a
            href="{{ base_url ~ path('entity.user.canonical', {
              'user': user.id()
            }) }}">
            {{- user.getAccountName() -}}
          </a>
        </td>
      </tr>
    {% endif %}
    {% if content.status %}
      {% set status = content.status %}
      <tr>
        <td>{{- status|field_label -}}</td>
        <td>{{- status|field_value -}}</td>
      </tr>
    {% endif %}
    {% if content.importance %}
      {% set importance = content.importance %}
      <tr>
        <td>{{- importance|field_label -}}</td>
        <td>{{- importance|field_value -}}</td>
      </tr>
    {% endif %}
    {% if content.description %}
      <tr>
        <td colspan="2">{{- content.description -}}</td>
      </tr>
    {% endif %}
    {% if content.attachments %}
      <tr>
        <td colspan="2">{{- content.attachments -}}</td>
      </tr>
    {% endif %}
    {% if content.comments %}
      {% set comments_values = content.comments|field_value %}
      {% set comments = comments_values.0.comments %}
      {% for key, val in comments %}
        {% if key|first != '#' %}
          <tr class="comment">
            <td colspan="2">{{- val -}}</td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
</table>
