{#
/**
 * @file
 * Default theme implementation to present a list of custom content entity types/bundles.
 *
 * Available variables:
 * - types: A collection of all the available custom entity types/bundles.
 *   Each type/bundle contains the following:
 *   - link: A link to add a content entity of this type.
 *   - description: A description of this content entity types/bundle.
 *
 * @see template_preprocess_ticket_content_add_list()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  {% if bundles is not empty %}
    <ul class="admin-list">
      {% for bundle in bundles %}
        <li class="clearfix">
          {% set bundle_attributes = bundle.add_link.url.getOption('attributes') ?: {} %}
          {% set link_attributes = create_attribute(bundle_attributes).addClass('admin-item__link') %}
          <a
            href="{{ bundle.add_link.url }}"{{ link_attributes|without('href') }}>
            <span class="label">{{ bundle.label }}</span>
            <div class="description">{{ bundle.description }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% elseif add_bundle_message is not empty %}
    <p>
      {{ add_bundle_message }}
    </p>
  {% endif %}
{% endspaceless %}
